* {
   margin: 0 0 0 0;
   background-color: blanchedalmond;
}

.nav-home{
  display: list-item;
  justify-content: flex-end;
}

#img-div{
  border-radius: 100px;
  width: 100px;
}

h2,h3 {
text-transform: capitalize;
font-size: larger;
font-weight: bold;
font-style: italic;
background-size: contain;
background-color: black;
color: white;
}

.quote{
  font-size: medium;
  font-weight: 700;
  font-family: 'Courier New', Courier, monospace;
}

a {
  color: blue;
}
a:hover{
  color: grey;
}

footer{
  text-align: center;
  font-size: medium;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}